body {
	margin-top:40px; 
	background-color: #ECE0F8; 
	color: #4B088A;
}

#formularioCrearDoctor{display:none;}
#formularioEditarDoctor{display: none;}
.github{margin: 1% 0 0 0;}
#bienDental{height: 40px;width: 35px;}
.navbar{background-color: #AC58FA; }
p>strong{color:white;}
